body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 98.9vw;
}

/* Login Page */
 #login-form {
    max-width: 500px;
 }

 #login-form  button{
    max-width: 400px;
 }

/* Get current location button styling */
#getCurrentLocation{
    margin-top: 80px;
    margin-left: 11px;
    border: none;
    width: 30px;
    height: 30px;
    padding: none;
}
#mapButtons{
    z-index: 1001;
}

#getCurrentLocation img {
    width: 30px;
    height: 30px;
}

/* the div styling  for continer */
#show_location_details {
    background-color: aliceblue;
}

/* show marker detials */
#show_marker_det {
    max-height: 170px;
    height: 100%;
    background-color: white;
    max-width: 33%;
    min-width: 380px;
    border-radius: 20px;
    padding: 10px;
    pointer-events: all;
    margin-left: 10px;
}

#show_marker_det_heding {
    width: 100%;
}

#show_marker_det_buttons {
    max-height: 50px;
    height: 100%;
}

#show_marker_det_buttons .rounded-circle{
    max-width: 50px;
    height: 100%;
}

#show_marker_det_buttons button{
    border: none;
}

.fa-bookmark {
    color: rgb(252, 151, 0);
}

.fa-heart {
    color: red;
}

.fa-map-location{
    color: rgb(0, 153, 255);
}

#close_button{
    background-color: rgb(229, 40, 40);
    border: none;
    height: 30px;
    width: 30px;
}

#close_button .fa-xmark{
    color: aliceblue;
}

/* Bookmark Add Name Form */
#addBookmarkFolder-Name {
    position: relative;
    width: 100vw;
    padding-top: 34vh;
    height:1000px;
    background-color: rgb(0, 0, 0,.2);
    margin-top: -100px;
    margin-bottom: -320px;
    margin-left: -10px;
    z-index: 1000;
}

#addBookmarkFolder-Name form {
    opacity: 1;
}

#addBookmarkFolder-Name .container {
    max-width: 300px;
    background-color: white;
    width: 300px;
    padding: 20px;    
    border-radius: 20px;
}

#addBookmarkFolder-Name .form-label{
    margin-left: 5px;
}

#addBookmarkFolder-Name input{
    width: 100%;
    margin: 0;
}

#addBookmarkFolder-buttons{
    width: 200px;
}

